<h2><%= full_name(contact) %></h2>

<% if contact.address %>
  <h3>Address</h3>
  <%= render contact.address %>
<% end %>

<% if contact.phone_numbers.any? %>
  <h3>Numbers</h3>
  <ul>
    <%= render contact.phone_numbers %>
  </ul>
<% end %>

<ul class="button-group">
  <li><%= link_to "Show", contact_path(contact), class: "button" %><li>
  <li><%= link_to "Edit", edit_contact_path(contact), class: "button" %><li>
  <li><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>

</ul>
