<h2>Search contacts</h2>

<%= form_tag(query_contacts_path, method: :get, id: "search_form") do %>
  <div class="field">
    <%= label_tag(:query, "Search contacts:") %>
    <%= text_field_tag(:query, nil, id: "search_input") %>
  </div>

  <% Searcher::SEARCH_SCOPES.each do |scope| %>
    <div class="field">
      <%= label_tag("scopes[][#{scope}]", scope.humanize) %>
      <%= check_box_tag("scopes[][#{scope}]", scope, name: "scopes[]") %>
    </div>
  <% end %>

  <%= submit_tag("Search") %>
<% end %>
